.wrapper {
  width: 100%;
  padding: 20px;
}
.title {
  font-weight: 300;
  font-size: 1.5rem;
}
.row {
  margin: 15px 0;
  padding: 10px 5px;
  box-shadow: 0 0 4px 1px #5e5e5ba7;
  border-radius: 3px;
}
.row-title {
  font-weight: 500;
}
.row-value {
  margin-left: 5px;
}
a[routerLink] {
  text-decoration: none;
  color: #2e5b9b;
}